#initiate{
	color: blue;
	background: aqua;
	text-align: center;
}
table, th, td {
	border: 2px solid black;
    border-collapse: collapse;
}
th,td{
	padding: 5px;
}
#ig{
	width: 50%;
	background-color: aqua;
}
#ig th{
	background-color: black;
	color: white;
}
#ig tr nth-child(even){
	background-color: red;

}